*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-size: 16px;
}

.main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: grey;
}

// $keyboardWidth : 80%;
// $numberOfWhiteKeys : 16;
// $whiteKeyWidth: (100% / $numberOfWhiteKeys);
// $whiteKeyHeight: 80%;

// $numberOfBlackKeys : 15;
// $blackKeyWidth: (100% / $numberOfWhiteKeys);
// $blackKeyHeight: 50%;
// $blackKeyMargin: 0%;


.piano{
    position: relative;
    width: 80vw;
    height: 50%;
    background-color: darkslategrey;
    margin: auto;

    &__whiteKeys{
        position: absolute;
        width: 80vw;
        height: 100%;
        display: flex;

        &__key{
            // margin: -4px;
            // display: inline-block;
            
            border: solid 1px; 
            width: 4vw !important;
            height: 80%;
            background-color: white;
            
        }

        &__key:hover{
            background-color: blue;
        }
    }

    &__blackKeys{
        width: 100%;
        height: 100%;
        
        &__key{
            position: absolute;
            border: solid 1px; 
            width: 2vw;
            height: 50%;
            background-color: black;
        }


    &__key:nth-child(1){
        margin-left: 3vw;
    }

    &__key:nth-child(2){
        margin-left: 7vw;
    }

    &__key:nth-child(3){
        margin-left: 15vw;
    }
    &__key:nth-child(4){
        margin-left: 19vw;
    }
    &__key:nth-child(5){
        margin-left: 23vw;
    }

    &__key:nth-child(6){
        margin-left: 31vw;
    }
    &__key:nth-child(7){
        margin-left: 35vw;
    }

    &__key:nth-child(8){
        margin-left: 43vw;
    }
    &__key:nth-child(9){
        margin-left: 47vw;
    }
    &__key:nth-child(10){
        margin-left: 51vw;
    }

    &__key:nth-child(11){
        margin-left: 59vw;
    }
    &__key:nth-child(12){
        margin-left: 63vw;
    }

    &__key:nth-child(13){
        margin-left: 71vw;
    }
    &__key:nth-child(14){
        margin-left: 75vw;
    }
    }

    
    


}

